<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin page</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
            integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    
    <script src="../public/js/admin.js"></script>
    <!-- Favicon-->
    <link rel="icon" href="../public/img/favicon.ico" type="image/icon type">
    
    <!-- CSS Files-->
    <link rel="stylesheet" href="../public/css/admin.css">
    <link href="../public/css/footer.css" rel="stylesheet">

</head>

<body>

<div class="container-fluid">
    <div class="row jusify-content-center">
        <ul class="navClass nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Home</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-users-tab" data-bs-toggle="pill" data-bs-target="#pills-users" type="button" role="tab" aria-controls="pills-users" aria-selected="false">Users</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-suppliers-tab" data-bs-toggle="pill" data-bs-target="#pills-suppliers" type="button" role="tab" aria-controls="pills-suppliers" aria-selected="false">Suppliers</button>
            </li>
            <li class="nav-item" role="presentation" action="item" method="get">
                <button class="nav-link" id="pills-items-tab" data-bs-toggle="pill" data-bs-target="#pills-items" type="button" role="tab" aria-controls="pills-items" aria-selected="false" >Items</button>
            </li>
            <li class="nav-warehouse" role="presentation" action="warehouse" method="get">
                <button class="nav-link" id="pills-items-tab" data-bs-toggle="pill" data-bs-target="#pills-warehouses" type="button" role="tab" aria-controls="pills-warehouses" aria-selected="false" >Warehouses</button>
            </li>
        </ul>

        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                home page
            </div>

            <!-- USERS -->
            <div class="tab-pane fade" id="pills-users" role="tabpanel" aria-labelledby="pills-users-tab">
              
                users page
                <% for (var i = 0; i < data.users.data.length; i++) { %>
                <article>
                    <span id=""><%=data.users.data[i].id%></span>
                    <span><%=data.users.data[i].fname%></span>
                    <span><%=data.users.data[i].lname%></span>
                    <span>email: <%=data.users.data[i].email%></span>
                    <span><%=data.users.data[i].password%></span>
                    <span><%=data.users.data[i].telephone%></span>

                    <!-- Delete User -->
                    <button id="deleteUserBtn<%= i %>" type="button" class="btn btn-primary" onclick="deleteUserAjax(`<%=data.users.data[i].id%>`)">delete</button>

                    <!-- Edit User -->
                    <button type="button" class="btn editBtn btn-primary" data-bs-toggle="modal" data-bs-target="#editUserModalForm<%= i %>">Edit</button>
                    
                    <div class="modal fade" id="editUserModalForm<%= i %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form >
                              <div class="modal-body text-start">
                                <label class="form-label">First Name:</label>
                                <input id="firstNameEditUser<%= i %>" name="fullName" class="form-control" value="<%=data.users.data[i].fname%>">
                                <label class="form-label">Last Name:</label>
                                <input id="lastNameEditUser<%= i %>" name="fullName" class="form-control" value="<%=data.users.data[i].lname%>">
                                <label class="form-label">Phone Number:</label>
                                <input id="phoneNumberEditUser<%= i %>" name="phoneNumber" type="number" class="form-control" value="<%=data.users.data[i].telephone%>">
                                <label class="form-label">Email:</label>
                                <input id="emailEditUser<%= i %>" name="email" type="email" class="form-control" value="<%=data.users.data[i].email%>">
                                <label class="form-label">City:</label>
                                <input id="cityEditUser<%= i %>" name="fullName" class="form-control" value="<%=data.users.data[i].city%>">
                                <label class="form-label">Address:</label>
                                <input id="addressEditUser<%= i %>" name="fullName" class="form-control" value="<%=data.users.data[i].address%>">
                                <label class="form-label">Postal:</label>
                                <input id="postalEditUser<%= i %>" name="fullName" class="form-control" value="<%=data.users.data[i].postal%>">
                              </div>
                              <div class="invalidError" id="invalidErrorEditUser<%= i %>"></div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button id="editUserBtn<%= i %>" type="button" class="btn btn-primary" onclick="updateUserAjax(`<%=data.users.data[i].id%>`, `<%= i %>`)">Edit</button>
                              </div>
                            </form>
                          </div>
                        </div>
                    </div>
                </article>
                <% } %>
                <br>
            </div>

            <!-- SUPPLIERS -->
            <div class="tab-pane fade" id="pills-suppliers" role="tabpanel" aria-labelledby="pills-suppliers-tab">
                suppliers page
                <% /* %>
                <span><%=JSON.stringify(data.suppliers)%></span>
                <% */ %>

                <% for (var i = 0; i < data.suppliers.data.length; i++) { %>
                    <article>
                        <span><%=data.suppliers.data[i]._id%></span>
                        <span><%=data.suppliers.data[i].cname%></span>
                        <span><%=data.suppliers.data[i].telephone%></span>  
                        
                        <!-- Delete Supplier -->
                        <button id="deleteSuppliersBtn<%= i %>" type="button" class="btn btn-primary" onclick="deleteSupplierAjax(`<%=data.suppliers.data[i]._id%>`)">delete</button>

                        <!-- Edit Supplier -->
                        <button type="button" class="btn editBtn btn-primary" data-bs-toggle="modal" data-bs-target="#editSupplierModalForm<%= i %>">Edit</button>
                        
                        <div class="modal fade" id="editSupplierModalForm<%= i %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                            aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form >
                                  <div class="modal-body text-start">
                                    <label class="form-label">Supplier Name:</label>
                                    <input id="CNameEditSupplier<%= i %>" name="CName" class="form-control" value="<%=data.suppliers.data[i].cname%>">
                                    <label class="form-label">Phone Number:</label>
                                    <input id="phoneNumberEditSupplier<%= i %>" name="phoneNumber" type="number" class="form-control" value="<%=data.suppliers.data[i].telephone%>">
                                    <label class="form-label">Email:</label>
                                    <input id="emailEditSupplier<%= i %>" name="email" type="email" class="form-control" value="<%=data.suppliers.data[i].email%>">
                                  </div>
                                  <div class="invalidError" id="invalidErrorEditSuppliers<%= i %>"></div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button id="editSuppliersBtn<%= i %>" type="button" class="btn btn-primary" onclick="updateSupplierAjax(`<%=data.suppliers.data[i].id%>`, `<%= i %>`)">Edit</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                        </div>
                    </article>
                <% } %>
            </div>

            <!-- ITEMS -->
            <div class="tab-pane fade" id="pills-items" role="tabpanel" aria-labelledby="pills-contact-tab" >
                <% /* %>
                <span><%=JSON.stringify(data.items)%></span>
                <% */ %>
                <br>
                
                <% for (var i = 0; i < data.items.data.length; i++) { %>
                <article>
                    <span><%=data.items.data[i]._id%></span>
                    <span><%=data.items.data[i].title%></span>
                    <span><%=data.items.data[i].description%></span>
                    
                    <!-- Delete Item -->
                    <button id="deleteItemBtn<%= i %>" type="button" class="btn btn-primary" onclick="deleteItemAjax(`<%=data.items.data[i]._id%>`)">delete</button>
                    
                    <!-- Edit Item -->
                    <button type="button" class="btn editBtn btn-primary" data-bs-toggle="modal" data-bs-target="#editItemModalForm<%= i %>">Edit</button>
                    
                    <div class="modal fade" id="editItemModalForm<%= i %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form >
                              <div class="modal-body text-start">
                                <label class="form-label">Item Title:</label>
                                <input id="titleEditItem<%= i %>" name="ItemTitle" class="form-control" value="<%=data.items.data[i].title%>">
                                <label class="form-label">Item Description:</label>
                                <input id="descEditItem<%= i %>" name="ItemDesc" class="form-control" value="<%=data.items.data[i].description%>">
                                <label class="form-label">Price:</label>
                                <input id="priceEditItem<%= i %>" name="ItemPrice" type="number" class="form-control" value="<%=data.items.data[i].price%>">
                                <label class="form-label">Kind:</label>
                                <input id="kindEditItem<%= i %>" name="ItemKind" class="form-control" value="<%=data.items.data[i].kind%>">
                                <label class="form-label">Image Url:</label>
                                <input id="imgUrlEditItem<%= i %>" name="ItemImgUrl" class="form-control" value="<%=data.items.data[i].image_url%>">
                                <label class="form-label">Rating:</label>
                                <input id="ratingEditItem<%= i %>" name="ItemRating" class="form-control" value="<%=data.items.data[i].rating%>">
                                <label class="form-label">Size:</label>
                                <input id="sizeEditItem<%= i %>" name="ItemSize" class="form-control" value="<%=data.items.data[i].size%>">
                                <% /* %>
                                <label class="form-label">Company:</label>
                                <input id="companyEditItem<%= i %>" name="ItemSize" class="form-control" value="<%=data.items.data[i].company%>">
                                <% */ %>
                              </div>
                              <div class="invalidError" id="invalidErrorEditItem<%= i %>"></div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button id="editItemBtn<%= i %>" type="button" class="btn btn-primary" onclick="updateItemAjax(`<%=data.items.data[i].id%>`, `<%= i %>`)">Edit</button>
                              </div>
                            </form>
                          </div>
                        </div>
                    </div>
                </article>
                <% } %>
            </div>
            <div class="tab-pane fade" id="pills-warehouses" role="tabpanel" aria-labelledby="pills-warehouses-tab">
                Warehouses page
                  
                <!-- Add Warehouse -->
                <button type="button" class="btn addBtn btn-primary" data-bs-toggle="modal" data-bs-target="#addWarehouseModalForm">Add New Warehouse</button>
                    
                <div class="modal fade" id="addWarehouseModalForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                      aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <form >
                            <div class="modal-body text-start">
                              <label class="form-label">Name:</label>
                              <input id="nameAddWarehouse" name="warehouseName" class="form-control" >
                              <label class="form-label">City:</label>
                              <input id="cityAddWarehouse" name="warehouseCity" class="form-control">
                              <label class="form-label">Street:</label>
                              <input id="streetAddWarehouse" name="warehouseStreet"  class="form-control" >
                              <label class="form-label">House Number:</label>
                              <input id="houseNumberAddWarehouse" type="number" name="houseNumber" class="form-control">
                              <label class="form-label">Latitude:</label>
                              <input id="latAddWarehouse" name="houseNumber" class="form-control">
                              <label class="form-label">Longitude:</label>
                              <input id="lngAddWarehouse" name="houseNumber" class="form-control">
                            </div>
                            <div class="invalidError" id="invalidErrorAddWarehouse"></div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button id="addWarehouseBtn" type="button" class="btn btn-primary" onclick="createWarehouseAjax()">Add</button>
                            </div>
                          </form>
                        </div>
                    </div>
                </div>
                <!-- Add Warehouse -End -->

                <% for (var i = 0; i < data.warehouses.data.length; i++) { %>
                <article>    
                    <span><%=data.warehouses.data[i]._id%></span>
                    <span><%=data.warehouses.data[i].name%></span>
                    <span><%=data.warehouses.data[i].city%></span>  
            
                    <!-- Delete Warehouse -->
                    <button type="button" class="btn btn-primary" id="deleteWarehouseBtn<%= i %>" onclick="deleteWarehouseAjax(`<%=data.warehouses.data[i]._id%>`)">delete</button>

                    <!-- Edit Warehouse -->
                    <button type="button" class="btn editBtn btn-primary" data-bs-toggle="modal" data-bs-target="#editWarehouseModalForm<%= i %>">Edit</button>
                    
                    <div class="modal fade" id="editWarehouseModalForm<%= i %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form >
                              <div class="modal-body text-start">
                                <label class="form-label">Name:</label>
                                <input id="nameEditWarehouse<%= i %>" name="warehouseName" class="form-control" value="<%=data.warehouses.data[i].name%>">
                                <label class="form-label">Street:</label>
                                <input id="streetEditWarehouse<%= i %>" name="warehouseStreet"  class="form-control" value="<%=data.warehouses.data[i].street%>">
                                <label class="form-label">City:</label>
                                <input id="cityEditWarehouse<%= i %>" name="warehouseCity" class="form-control" value="<%=data.warehouses.data[i].city%>">
                                <label class="form-label">House Number:</label>
                                <input id="houseNumberEditWarehouse<%= i %>" name="houseNumber" type="number" class="form-control" value="<%=data.warehouses.data[i].houseNumber%>">
                                <label class="form-label">Latitude:</label>
                                <input id="latEditWarehouse<%= i %>" name="houseNumber" type="number" class="form-control" value="<%=data.warehouses.data[i].houseNumber%>">
                                <label class="form-label">Longitude:</label>
                                <input id="lngEditWarehouse<%= i %>" name="houseNumber" type="number" class="form-control" value="<%=data.warehouses.data[i].houseNumber%>">
                            </div>
                              <div class="invalidError" id="invalidErrorEditWarehouse<%= i %>"></div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button id="editWarehouseBtn<%= i %>" type="button" class="btn btn-primary" onclick="updateWarehouseAjax(`<%=data.warehouses.data[i].id%>`, `<%= i %>`)">Edit</button>
                              </div>
                            </form>
                          </div>
                        </div>
                    </div>
                    <!-- Edit Warehouse - End -->
                </article>
                <% } %>
            </div>
        </div>




        <div class="container text-center">
            <div class="row g-3 all_cards"></div>
            <div class="col-md-3 col-4 d-none card-col">
                <div class="card">
                    <img class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="row g-3">
                
            </div>
        </div>
    </div>
</div>
</div>



<!-- FOOTER -->
    <!-- <footer class="section footer-classic context-dark bg-image " style="background: #343a40;">
        <div class="container">
          <div class="row row-30 columns">
            <div class="col-lg-6 col-xl-6">
              <div class="pr-xl-4">
                    <h3>Quick Tweets</h3>
                    <div class="links" id="collapse_1">
                        <a class="twitter-timeline" data-width="450" data-height="200" data-dnt="true" data-theme="dark"
                           href="https://twitter.com/StoreShoey?ref_src=twsrc%5Etfw">Tweets by StoreShoey</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        
                        </li>
                    </div>
              </div>
            </div>
            <div class="col-md-4">
              <h5 class="white-text">Contacts</h5>
              <dl class="contact-list">
                <dt class="white-text">Address:</dt>
                <dd class="white-text">Colman <br class="white-text">Rishon Le Zion - IL</dd>
              </dl>
              <dl class="contact-list">
                <dt class="white-text">email:</dt>
                <dd><a href="mailto:#">info@shoey.com</a></dd>
              </dl>
              <dl class="contact-list">
                <dt class="white-text">phones:</dt>
                <dd class="white-text">+972 52-8252-<strong>69</strong>9</dd>
              </dl>
            </div>
          </div>
        </div>
      </footer> -->
</html>